/*Meist vahelehehe peamine div */
.tutvustus {
	margin-top: 3vh;
	border: 2vh solid rgb(77, 77, 77);
	position: fixed;
	display: flex;
	max-height: 55vh;
  }

/*Meist vahelehel asuva teksti parent div */
.tutvustus-tekst {
  	padding: 7vh;
	font-size: 3vh;
	text-align: center;
	float: right;
	flex: 65%;
	color: #FAFAFA;
	vertical-align: center;
}

/*Meist vahelehel asuvat pilti kontrolliv img */
.tutvustus-pilt {
	float: left;
	object-fit: cover;
	flex: 35%;
	max-width: 25vw;
	min-width: 15vw;
	min-height: auto;
}

/*Meist vahelelehel asuv hüperlink githubi */
.github-link {
	color: green;
}